/*========== GENERAL ==========*/
* {
	box-sizing: border-box;
	--dark-background: #343a40;
	--green: #86c87b;
	--yellow: #fdf59c;

	--box-shadow: 0 0 5px 0 var(--dark-background);

	color: var(--dark-background);
}

*:focus {
	outline: none;
}

body {
	font-family: "Poppins", sans-serif;
	height: 100vh;
}
h1,
h2,
h3,
h4 {
	text-align: center;
}

/*========== LOGIN | REGISTER ==========*/
.loginBody {
	background-color: var(--dark-background);
}

.error {
	color: red;
}

.btn-danger {
	background-color: red !important;
}

.yellow {
	color: var(--yellow);
}

.logo img {
	margin: 0 auto;
}

#formContent {
	display: flex;
	align-items: center;
}

#formContent form {
	text-align: center;
	max-width: 450px;
	margin: 0 auto;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
}

#formContent form h1 {
	margin: 9px;
}

/*========== STRUCTURE ==========*/
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 100vh;
	justify-content: space-evenly;
}

.full {
	width: 100%;
	color: var(--green);
	font-size: 5em;
	text-align: center;
}

.logo {
	width: 50%;
	max-width: 450px;
	min-width: 300px;
}

/*========== FORM ==========*/
input[type=button],
input[type=submit] {
	background-color: var(--green);
	border: none;
	color: white;
	width: 50%;
	padding: 10px 0 10px 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	margin-bottom: 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	font-size: 22px;
}

input[type=button]:hover,
input[type=submit]:hover {
	box-shadow: 0 0 5px 0 var(--yellow);
}

input[type=button]:active,
input[type=submit]:active {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

input[type=text],
input[type=password] {
	padding: 20px 0 20px 0;
	margin-bottom: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 85%;
	border: none;
	background-color: var(--yellow);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-radius: 5px 5px 5px 5px;
	font-size: 22px;
}

input[type=text]:focus,
input[type=password]:focus {
	border-bottom: 4px solid var(--green);
}

input[type=submit]:hover {
	cursor: pointer;
}

/*========== ANIMATIONS ==========*/
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: .5s;
	animation-duration: .5ss;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	opacity: 0;
	-webkit-animation: fadeIn ease-in .5s;
	-moz-animation: fadeIn ease-in .5s;
	animation: fadeIn ease-in .5s;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	animation-duration: .5s;
}

.fadeIn.first {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.fadeIn.second {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.fadeIn.third {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.fadeIn.fourth {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
	width: 45%;
	margin-left: 5px;
	margin-right: 5px;
}
.fadeIn.fifth {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

/* OTHERS */

/*========== NAVIGATION ==========*/

.navbar a {
	text-align: center;
	padding: 10px;
}

/*========== NOTES ==========*/
.noteTitle {
	text-align: left;
	font-size: 3em !important;
	padding: 0px !important;
	width: 100% !important;
}

.notes {
	padding: 5% 0 5% 0;
}

#notepad {
	border: none;
	margin-bottom: 20px;
	padding: 30px;
	background-image: repeating-linear-gradient(var(--yellow) 0px, var(--yellow) 24px, var(--green) 25px);
	height: 70vh;
	line-height: 1.6;
}
#notepad:focus {
	border: 0;
	border-bottom: 4px solid var(--green);
	box-shadow: none;
}

form-control:focus {
	box-shadow: none !important;
}

.alert {
	color: red;
	margin-top: .5rem;
}

.registerBtnParent {
	width: 100%;
}

.registerBtn {
	width: 50%;
	padding: 3% 0 3% 0;
}

.registerBtn:hover {
	cursor: pointer;
}

.noteBtn {
	width: 50%;
}

.all-notes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.note-item {
	width: 31%;
	background-color: var(--yellow);
	border-radius: 5px;
	background-image: repeating-linear-gradient(var(--yellow) 0px, var(--yellow) 24px, var(--green) 25px);
	margin: 10px;
	padding: 10px;
	height: 300px;
	min-width: 300px;
}

.note-item-title {
	display: block;
	text-align: center;
	margin: 0 auto;
	background: none;
	border: none;
	font-size: 26px;
}

.note-item-content {
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	width: 100%;
	height: 150px;
	overflow: hidden;
	box-sizing: border-box;
	resize: none;
}
.note-content {
	height: 228px;
	overflow: auto;
	text-align: center;
}

.note-item .btn {
	width: 100%;
	margin: auto;
	padding: 0;
	font-size: 1rem;
}

.note-content i {
	font-size: .7rem;
}
