@import "https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap";
html[data-theme=light] {
  --text-color: black;
  --surface: #e2e1e0;
  --nav-surface: #fff;
  --heading-color: black;
  --email: #0256ee;
}

html[data-theme=dark] {
  --text-color: white;
  --surface: #121212;
  --nav-surface: #434343;
  --heading-color: #ee9b02;
  --email: #ee9b02;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

.welcome {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.welcome h1 {
  font-size: calc(1.5rem + 5vw);
  margin-bottom: 0;
  position: relative;
  display: inline-block;
}
.welcome h1:after {
  content: "";
  position: absolute;
  width: 100%;
  background: #ee9b02;
  left: 0;
  bottom: 0;
  height: 0.2em;
  transition: 100ms height ease-in-out;
}
.welcome #logo {
  max-width: 500px;
  margin: 0 auto;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.3));
}

.hundred {
  width: 100%;
  text-align: center;
}

body {
  font-family: "Roboto";
  color: var(--text-color);
  background-color: var(--surface);
  position: relative;
  z-index: 1;
  text-transform: lowercase;
  margin: 0;
}

#hamburger {
  color: var(--text-color);
  font-size: 2em;
  position: absolute;
  left: 5%;
}

#hamburger:hover {
  opacity: 30%;
  transition: 0.3s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  background-color: var(--nav-surface);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.sidenav a {
  text-align: right;
  padding: 20px;
}

.mobile-nav {
  width: 350px;
}
.mobile-nav a {
  padding: 20px;
}

.sidenav i:hover,
.sidenav a:hover,
.sidenav .closebtn:hover {
  opacity: 30%;
  transition: 0.3s;
}

.sidenav i {
  padding: 8px;
  font-size: 3rem;
  cursor: pointer;
}

.sidenav .closebtn {
  font-size: 4em;
}

.sidenav a,
.sidenav input {
  padding: 20px;
  text-decoration: none;
  font-size: 3em;
  font-family: "Roboto", sans-serif;
  display: block;
  transition: 0.3s;
  color: var(--text-color);
}

i.fa-arrow-down {
  margin-top: 200px;
  color: black;
  font-size: 10em;
  display: block;
}

#portfolio {
  margin-top: 20px;
}

#portfolio .portfolio-item {
  background-color: var(--nav-surface);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#portfolio .portfolio-item .title {
  position: relative;
  display: inline-block;
}
#portfolio .portfolio-item .title:after {
  content: "";
  position: absolute;
  width: 100%;
  background: #0256ee;
  left: 0;
  bottom: 0;
  height: 0.2em;
  opacity: 0.5;
  transition: 100ms height ease-in-out;
}
#portfolio .portfolio-item .title:hover:after {
  height: 1em;
  transition: 100ms height ease-in-out;
  cursor: pointer;
}
#portfolio .portfolio-item .git {
  font-size: 20px;
  position: relative;
  display: inline-block;
}
#portfolio .portfolio-item .git img {
  height: 20px;
  margin-left: 10px;
}
#portfolio .portfolio-item .git:after {
  content: "";
  position: absolute;
  width: 100%;
  background: #ee9b02;
  left: 0;
  bottom: 0;
  height: 0.2em;
  opacity: 0.5;
  transition: 100ms height ease-in-out;
}
#portfolio .portfolio-item .git:hover:after {
  height: 1em;
  transition: 100ms height ease-in-out;
}

#portfolio .portfolio-item p {
  opacity: 82%;
  padding: 20px;
}

#portfolio .portfolio-item a {
  font-size: 2em;
  font-family: "Lato", sans-serif;
  display: block;
  color: var(--text-color);
  text-decoration: none;
  padding: 20px 20px 0 20px;
}

#portfolio .portfolio-item a img.zion {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#portfolio .portfolio-item i {
  font-size: 2em;
  padding: 20px 10px 0 10px;
}
#portfolio .portfolio-item i:hover {
  color: #ee9b02;
  cursor: pointer;
}

#zion {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
#zion iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.custom-icon {
  height: 100px;
}

.icon-dark {
  background: rgba(0, 0, 0, 0.23);
}

.custom-icon:hover {
  cursor: pointer;
}

.adobe-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  bottom: 0 !important;
  transition: bottom 500ms;
  z-index: 99 !important;
}

.contact {
  background-color: var(--nav-surface);
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}

#contact form a {
  color: var(--email);
}

.contact input,
.contact textarea {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--surface);
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: var(--text-color);
}

.contact button {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: var(--text-color);
  background-color: #ee9b02;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 50%;
}

.contact button:hover {
  cursor: pointer;
  background-color: #fdc04e;
  transition: 0.3s;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-btn {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: #ee9b02;
  float: right;
  border-radius: 100px;
  position: relative;
  margin-right: 20px;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #0256ee;
  transition: 0.3s;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

.modal {
  background-color: var(--nav-surface);
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.modal button {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: var(--text-color);
  background-color: #ee9b02;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 50%;
}

.modal button:hover {
  cursor: pointer;
  background-color: #fdc04e;
  transition: 0.3s;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

@media (min-width: 900px) {
  .sidenav {
    display: flex;
    width: 100%;
    height: auto;
    position: static;
    justify-content: space-around;
    align-items: center;
  }
  .sidenav a {
    font-size: 2em;
  }

  #hamburger,
a.closebtn {
    display: none;
  }

  .modal {
    width: 800px;
    margin: 0 auto;
  }

  .container {
    width: 800px;
    margin: 0 auto;
  }

  #portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  #linode,
#adobe {
    grid-column-start: 1;
    grid-column-end: 3;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
  }

  #zion {
    position: static;
    padding-bottom: 0;
    height: auto;
  }
  #zion iframe {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .transition-contact {
    margin-top: 0 !important;
    transition: margin-top 500ms;
  }
}

/*# sourceMappingURL=style.css.map */
