//colors
html[data-theme="light"] {
	scroll-behavior: smooth;
	--text-color: black;
	--surface: #eee;
	--nav-surface: #fff;
	--heading-color: #0256ee;
}

$primary-color: #ee9b02;
$secondary-color: #0256ee;
$surface: #eee;
$menu-color: #fff;
$dark-surface: #121212;
$shadow: #424242;
$hover-opacity: 30%;
$light-font-color: blue;
//dark mode color

html[data-theme="dark"] {
	--text-color: white;
	--surface: #121212;
	--nav-surface: #434343;
	--heading-color: #ee9b02;
}
//animation
$default-speed: .3s;

//fonts
@import 'https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap';
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Lato', sans-serif;
	color: var(--text-color);
}
body {
	font-family: 'Roboto';
	color: var(--text-color);
	background-color: var(--surface);
}

//spacing
$menu-padding: 8px;

//Navigation
#hamburger {
	color: var(--text-color);
	font-size: 2em;
	position: absolute;
	left: 5%;
	&:hover {
		opacity: $hover-opacity;
		transition: $default-speed;
	}
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: .3s;
	padding-top: 60px;
	background-color: var(--nav-surface);

	i:hover,
	a:hover,
	.closebtn:hover {
		opacity: $hover-opacity;
		transition: $default-speed;
	}

	i {
		padding: $menu-padding;
		font-size: 3em;
		cursor: pointer;
	}

	.closebtn {
		font-size: 4em;
	}

	a,
	input {
		padding: $menu-padding;
		text-decoration: none;
		font-size: 3em;
		font-family: 'Roboto', sans-serif;
		display: block;
		transition: 0.3s;
		color: var(--text-color);
	}
}

i.fa-arrow-down {
	margin-top: 200px;
	color: black;
	font-size: 10em;
	display: block;
	&:hover {
		opacity: $hover-opacity;
		transition: $default-speed;
	}
}

#content {
	position: relative;
	z-index: 2;
	padding: 30px;
	text-align: center;
	font-weight: bold;
}

#logo {
	max-width: 500px;
	margin: 0 auto;
}

#welcome {
	font-size: 6em;
}

#portfolio {
	.portfolio-item {
		background-color: var(--nav-surface);
		padding: 10px;
		margin: 20px;
		i {
			padding: 5px;
			//color: $secondary-color;
		}
		h1 a {
			color: var(--heading-color);
			text-decoration: none;
			&:hover {
				opacity: $hover-opacity;
			}
		}
	}
}

.contact {
	background-color: var(--nav-surface);
	padding: 10px;
	input,
	textarea {
		box-sizing: border-box;
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
		width: 100%;
		padding: 10px;
		margin-bottom: 10px;
	}
	button {
		padding: 10px;
		font-family: 'Roboto', sans-serif;
	}
}

//toggle button
input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}
label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: $primary-color;
	float: right;
	border-radius: 100px;
	position: relative;
	margin-right: 20px;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: $secondary-color;
	transition: .3s;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}
//end toggle button

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: all 750ms !important;
	transition-delay: 0 !important;
}

@media (min-width: 1200px) {
	body {
		background-color: pink;
	}
}
