@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>The Sacrament Meeting Planner was created by Michael Nishiguchi, Cody Swanson, Hunter Perry, and Jeremy James. It was in response to an assignment given by our BYUI-Online class: CIT 365.</p>
