@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="css/homepage.css"/>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome to the <div>Sacrament Meeting Planner</div></h1>
    <p>This application is dedicated to making it easier for wards to create their programs each Sunday for sacrament meetings.</p>
</div>
<img class="christus-image" src="https://media.ldscdn.org/images/media-library/gospel-art/new-testament/christus-statue-1025369-gallery.jpg" alt="Christus Statue"/>