@import url('https://fonts.googleapis.com/css?family=Poppins:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');


/* --------------------------------------------- */
/* --------- Branding: Color Palette ----------- */
/* --------------------------------------------- */
/* These are the colors of the boxes under the Branding section */
#swatch1{
	background-color: #e48400;
}	
#swatch2{
	background-color: #2ec4b6;
}	
#swatch3{
	background-color: #e8f8f8;
}	
#swatch4{
	background-color: #333;
}		

/* ----------------------------------------------------- */
/* --------- Typography: Heading & Body Copy ----------- */
/* ----------------------------------------------------- */
/* These are the font families of all the headings and body copy */

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	background-color: #333;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}


/* -------------------------------------------------- */
/* --------- Navigation: Main & Secondary ----------- */
/* -------------------------------------------------- */
/* Colors, style, floating, shapes, etc of main & secondary navs */

/* Main Navigation Style */
#mainnav{
	
}
#mainnav ul{
	background-color: #333;
	padding: 50px 0 50px 0;
}
#mainnav li{
	list-style-type: none;
	display: inline;
	padding: 20px;
	border-bottom: 1px solid #2ec4b6;
	margin: -2px; 
}

#mainnav a { 
	padding: 20px; 
	text-decoration: none;
}
#mainnav a:link{
	color: #e8f8f8;
	/* other styles */
}
#mainnav a:visited{
	color: #e8f8f8;
	/* other styles */
}
#mainnav a:hover{
	color: #2ec4b6;
	/* other styles */
}
#mainnav a:active{
	color: #2ec4b6;
	/* other styles */
}
 .current {
	border-bottom: 1px solid #e48400;
} 


/* Secondary Navigation Style */
#secondnav{
	background-color: #333;
}
#secondnav ul{
	padding: 50px 0 50px 0;
}
#secondnav li{
	list-style-type: none;
	display: inline;
	padding: 40px;
}

#secondnav a { 
	padding: 20px;
	text-decoration: none;
}
#secondnav a:link{
	color: #e8f8f8;
	/* other styles */
}
#secondnav a:visited{
	color: #e8f8f8;
	/* other styles */
}
#secondnav a:hover{
	color: #2ec4b6;
	/* other styles */
}
#secondnav a:active{
	color: #2ec4b6;
	/* other styles */
}




/* ----------------------------------- */
/* --------- HTML Elements ----------- */
/* ----------------------------------- */
/* Styling for all HTML Elements */

/* True for all headings */
h1, h2, h3 ,h4, h5, h6{
	color: #2ec4b6;
}


/* Style for individual headings */
h1{
	font-size: 2em;
}

h2{
	font-size: 1.8em;
}

h3{
	font-size: 1.6em;
}

h4{
	font-size: 1.4em;
}

h5{
	font-size: 1.2em;
}

h6{
	font-size: 1em;
}


/* List Styles */
ul{
	color: #e8f8f8;
	list-style-type: none;
}
ul li{

}

ol{
	color: #e8f8f8;
}
ol li{

}


/* Non-Navigational Link Styles */
/* This is for all default links on your page */
a:link{
	color: #e48400;
	text-decoration: none;
}
a:visited{
	color: #e48400;
}
a:hover{
	text-decoration: underline;
}
a:active{
}

/* This is for secondary link styles (possibly in your footer, etc) */
.linkstyle2 a:link{

}
.linkstyle2 a:visited{

}
.linkstyle2 a:hover{

}
.linkstyle2 a:active{

}


/* Paragraph Styles */
p{
	color: #e8f8f8;
	/* Other paragraph styles */
}


/* Figure and Figcaption Styles */
figure{
	width: 300px;
	background-color: #333;
	border-radius: 10px 10px 0 0;
}
figure img{
	border-radius: 10px;
	width: 300px;
	border: 1px solid #2ec4b6;
}
figcaption{
	padding: 5px;
	text-align: center;
	color: #e8f8f8;
}












/* ------------------------------------- */
/* --------- Style Guide CSS ----------- */
/* ------------------------------------- */
/* The following CSS is used for the styling of the structure of the Style Guide itself */
body{
	width: 700px;
	margin: 10px auto;
	border: 1px solid #777;
	padding: 20px;
}

.styleguide{
	font-family: "Courier New", Courier, monospace;
}
h1.styleguide, h2.styleguide, h3.styleguide, h4.styleguide, h5.styleguide, h6.styleguide{
	color: #777;
	font-family: "Courier New", Courier, monospace;
}
h2.styleguide{
    background-color: #777;
    border-radius: 15px;
    padding: 15px;
    margin-left: -15px;
    color: white;
}
p.styleguide{
	color: #777;
	font-family: "Courier New", Courier, monospace;
}

section{
    margin-top: -10px;
    margin-bottom: 70px; 
}
.colorgroup{
    float: left;
    width: 170px;
}
.colorgroup h4{
	font-size: .9em;
}
.colorgroup p{
    font-size: .8em;
}
.clear{
    clear: both;
}
.swatches{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
