[submodule "note-app-pug"]
	path = note-app-pug
	url = https://github.com/nishiguchi-michael/note-app-pug.git
[submodule "food-tracker"]
	path = food-tracker
	url = https://github.com/nishiguchi-michael/food-tracker.git
[submodule "nyt"]
	path = nyt
	url = https://github.com/nishiguchi-michael/nyt.git
[submodule "tic-tac-toe"]
	path = tic-tac-toe
	url = https://github.com/nishiguchi-michael/tic-tac-toe.git
[submodule "meeting-planner"]
	path = meeting-planner
	url = https://github.com/nishiguchi-michael/meeting-planner.git
