@page
@model SacramentMeetingPlanner.Pages.Program.IndexModel

@{
    ViewData["Title"] = "Programs";
}

    <head>
        <link rel="stylesheet" href="~/css/Index.css" />
    </head>
    <div>
        <h1>Programs</h1>

        <p>
            <a class="create" asp-page="Create">+ New Program</a>
        </p>
    </div>
<div class="grid">
@foreach (var item in Model.Program)
{
    <h5>
        <a class="date" asp-page="DisplayProgram" asp-route-id="@item.ProgramID">
        @Html.DisplayFor(Model => item.DateOfMeeting)
        <a class="edit" asp-page="./Edit" asp-route-id="@item.ProgramID">Edit</a>
        <span>|</span> 
        <a class="delete" asp-page="./Delete" asp-route-id="@item.ProgramID">Delete</a></a>
    </h5>
}
    </div>
