@font-face {
	font-family: "albion";
	src: url("fonts/rm_albion.ttf") format('truetype');
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

article {
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}

#topStories a {
	text-decoration: none;
	color: black;
}
#topStories a:hover {
	color: gray;
}

#welcome {
	margin-bottom: 20px;
}

article img {
	width: 100%;
	transition: transform .2s;
	padding-bottom: 10px;
}

button {
	margin-bottom: 20px;
}

#topStories img:hover {
	transform: scale(1.1);
}

h2 {
	text-align: center;
}

html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
}

li {
	list-style: none;
}

header {
	background-color: black;
	margin: 0 0 20px 0;
	padding: 30px;
}

h1 {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 3px;
	font-weight: 200;
	font-size: 5vw;
	text-align: center;
	color: white;
	vertical-align: center;
}

/* nav nav nav nav */
#hamburger {
	color: white;
	font-size: 1em;
	position: absolute;
	left: 5%;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a,
.sidenav input {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.note {
	font-style: italic;
	text-align: center;
	color: gray;
	font-size: 90%;
	margin-bottom: 10px;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
/*end of nav */

#main {
	transition: margin-left .5s;
	padding: 5%;
}
.filterForm {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.filterForm input {
	flex: 0 0 100%;

	font-size: 2rem;
	padding: 20px 0 20px 20px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}

.filterForm button {
	padding: 20px;
	font-size: 2rem;
	margin-left: 5%;
}

@media (min-width: 768px) {
	#topStories {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	article {
		justify-content: space-between;
		flex-basis: 45%;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 2vw;
	}
}
