.date {
    margin-right: 10px;
    color: #FFFFFF;
}

    .date:hover {
        color: #FFFFFF;
        text-shadow: 0 0 15px #003057;
    }

.delete {
    color:darkred;
}

.delete:hover {
    color: darkred;
}

h5{
    margin: auto;
    width: 100%;
}

.nav-options {
    color: #fffeff;
}

.create {
    border-radius: 5px 5px;
    color: #456884;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 4px;
    border: 1px #456884 solid;
    margin-left: 10px;
    float: left;
    margin-top:15px;
}
.create:hover {
    color: #456884;
}

.edit {
    margin-left: 10px;
    color: #456884;
}

    .edit:hover {
        margin-left: 15px;
        color: #456884;
    }

h1 {
    color: #2B5273;
    float:left;
}

div{
    width:100%;
    display:flex;
}

.grid {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.input {
    background-color: #fffeff;
}

.form-control {
    background-color: #fffeff;
}



